.header{
    height: 80px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.header a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover{
    color: orange;
}